.bordeArmado{
  border: #c4c4c4 solid 2px;
  border-radius: 1%;
  padding: 2px;
  margin: 2px;
}

.cont-img{
  width: 900px;
  height: 350px;
  padding: 2px;
  margin: 2px;

}

.borde-img{
  border: #e7e7e7 solid 2px;

}

/* rompe
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: red;
  background-image: url(https://cdn.icon-icons.com/icons2/621/PNG/512/magnifier_icon-icons.com_56922.png);
}

.overlay:hover {
  opacity: 0.4;
} */
